@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply  px-[16px] mx-auto lg:px-[60px];
}
.container-none{
    @apply  px-[0px] ;
}

.useGradiant{
    background: linear-gradient(0deg, #F2F0FF, #F2F0FF),
                linear-gradient(163.21deg, #F2F0FF 9.01%, 
                rgba(251, 251, 255, 0.77) 26.47%,
                 rgba(255, 255, 255, 0.72) 52.19%, #F2F0FF 67.81%);

}